<!DOCTYPE html>
<html>
  <head>
    <title>Packages</title>
  </head>
  <body>
    <h1>Packages</h1>

    <% for packages %>
    <div>
      <span class="sourceStyle"><a href="show_package?id=<% #. %>"><% #name %></a></span>
      <% if documentation %>
      <blockquote>
        <pre><% #documentation %></pre>
      </blockquote>
      <% end %>
    </div>
    <% end %>

  </body>
</html>
