<!DOCTYPE html>
<html>
  <head>
    <title>Package does exist</title>
  </head>
  <body>
    <h1>Can't display package</h1>
    <div>
      The package <% #name %> does not exist.
    </div>
  </body>
</html>
