<!DOCTYPE html>
<html>
  <head>
    <title>Package <% #name %></title>
    <link rel="stylesheet" type="text/css" href="/css/ui-lightness/jquery-ui-1.8.18.custom.css">
    <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.8.18.custom.min.js"></script>
    <script type="text/javascript" src="/js/jquery.multi-accordion-1.5.3.js"></script>
    <script type="text/javascript" src="/js/search.js"></script>
    <style>
      .sourceStyle { font-family: Monospace; }
      .typeStyle { font-family: Monospace; font-size: 10px; }
      h3 { font-weight: normal }
    </style>
  </head>
  <body>
    Search: <input id="searchText" type="text" size="40">
  </body>
</html>
