<!DOCTYPE html>
<html>
  <head>
    <title>Package <% #name %></title>
    <link rel="stylesheet" type="text/css" href="/css/ui-lightness/jquery-ui-1.8.20.custom.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.8.20.custom.min.js"></script>
    <script type="text/javascript" src="/js/jquery.multi-accordion-1.5.3.js"></script>
    <script type="text/javascript" src="/js/show_package.js"></script>
  </head>
  <body>
    <div class="package-list">
      <div id="tabs">
        <ul>
          <% if functions %>
          <li><a href="#tabs-functions">Functions</a></li>
          <% end if classes %>
          <li><a href="#tabs-classes">Classes</a></li>
          <% end if variables %>
          <li><a href="#tabs-variables">Variables</a></li>
          <% end %>
        </ul>

        <div id="tabs-functions">
          <% for functions if ! accessorp %>
          <h3>
            <div class="type-style">
              <% #type %>
            </div>
            <div>
              <span class="source-style"><b><a class="source-link" href="/source_function?p=<% #/package-name//symbol-package/name %>&n=<% #name %>"><% #name %></a></b> <% #args %></span>
            </div>
          </h3>
          <div>
            <% if documentation %>
            <blockquote>
              <pre><% #documentation %></pre>
            </blockquote>
            <% end %>
          </div>
          <hr>
          <% end end %>
        </div>

        <div id="tabs-classes">
          <% for classes %>
          <h3>
            <span class="source-style"><b><% #name %></b></span>
          </h3>

          <% if documentation %>
          <blockquote>
            <pre><% #documentation %></pre>
          </blockquote>
          <% end %>

          <div class="revealTable">
            <h3><a href="#">Slots (<% #/length/slots %>)</a></h3>
            <div>
              <% if slots %>
              <% for slots %>
              <span class="source-style"><b><% #name %></b>
                <% if accessors %>
                &#8212;
                <% for accessors %>
                <% if reader %>reader <b><% #reader %></b><% end %>
                <% if writer %>writer <b><% #writer %></b><% end %>
                <% if accessor %>accessor <b><% #accessor %></b><% end %>
                <% end #| FOR ACCESSORS |# %>
                <% end #| IF ACCESSORS |# %>
              </span>
              <div>
                <% if documentation %>
                <blockquote>
                  <pre><% #documentation %></pre>
                </blockquote>
                <% end %>
              </div>
              <% end %>
              <% else #| has slots |# %>
              No slots
              <% end %>
            </div>

            <h3><a href="#">Specialised by (<% #/length/methods %>)</a></h3>
            <div>
              <% if methods %>
              <% for methods %>
              <div>
                <span class="source-style"><% #name %></span>
              </div>
              <% end %>
              <% else %>
              No specialised methods
              <% end %>
            </div>
          </div>

          <hr>

          <% end %>
        </div>

        <div id="tabs-variables">
          <% for variables %>
          <h3>
            <div class="type-style">
              <% if constant-p %>constant<% else %>variable<% end %>
            </div>
            <div>
              <span class="source-style"><b><% #name %></b></span>
            </div>
          </h3>
          <div>
            <div>
              <% if boundp %>
              Value: <span class="source-style"><% #value %></span>
              <% else %>
              Not bound
              <% end %>
            </div>
            <% if documentation %>
            <blockquote>
              <pre><% #documentation %></pre>
            </blockquote>
            <% end %>
          </div>
          <hr>
          <% end %>
        </div>
      </div>
    </div>

    <div class="package-list-description" style="display: none;">
      <p>
        This is the package list
      </p>
    </div>
  </body>
</html>
