<!DOCTYPE html>
<html>
  <head>
    <title>Package <% #name %></title>
    <link rel="stylesheet" href="/css/ui-lightness/jquery-ui-1.8.18.custom.css">
    <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.8.18.custom.min.js"></script>
    <script type="text/javascript" src="/js/show_package.js"></script>
    <style>
      .sourceStyle { font-family: Monospace }
      h3 { font-weight: normal }
    </style>
  </head>
  <body>
    <h1>Package <span class="sourceStyle"><% #name %></span></h1>

    <h2>Classes</h2>

    <% for classes %>
    <h3>
      <span class="sourceStyle"><b><% #name %></b></span>
    </h3>

    <% if documentation %>
    <blockquote>
      <pre><% #documentation %></pre>
    </blockquote>
    <% end %>

    <% if methods %>
    <h4>Specialised by</h4>
    <% for methods %>
    <div>
      <span class="sourceStyle"><% #name %></span>
    </div>
    <% end %>
    <% end %>

    <% end %>

    <h2>Functions</h2>

    <% for functions %>
    <h3>
      <span class="sourceStyle"><b><% #name %></b> <% #args %></span>
    </h3>
    <div>
      <% if documentation %>
      <blockquote>
        <pre><% #documentation %></pre>
      </blockquote>
      <% end %>
    </div>
    <% end %>

    <h2>Variables</h2>

    <% for variables %>
    <h3>
      <span class="sourceStyle"><b><% #name %></b></span>
    </h3>
    <div>
      <div>
        <% if boundp %>
        Value: <span class="sourceStyle"><% #value %></span>
        <% else %>
        Not bound
        <% end %>
      </div>
      <% if documentation %>
      <blockquote>
        <pre><% #documentation %></pre>
      </blockquote>
      <% end %>
    <% end %>

  </body>
</html>
